name: Generate Pacman

on:
  schedule:
    - cron: "0 */24 * * *"
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # 1. Faz o checkout
      - uses: actions/checkout@v3

      # 2. Gera o Pacman (Tentativa com Token no WITH e ENV)
      - uses: abozanona/pacman-contribution-graph@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          github_user_name: bonomo06
          github_token: ${{ secrets.GITHUB_TOKEN }} # Adicionado aqui também por segurança

      # 3. Debug: Lista arquivos para termos certeza que foi criado
      - name: Check files
        run: ls -la

      # 4. Move e Cria a pasta dist
      - name: Move files to dist
        run: |
          mkdir -p dist
          # O comando abaixo move ignorando erros se um dos arquivos não existir, pra gente ver o log depois
          mv pacman-contribution-graph.svg dist/ || echo "Pacman normal não encontrado"
          mv pacman-contribution-graph-dark.svg dist/ || echo "Pacman dark não encontrado"

      # 5. Envia para a branch output
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
