name: Generate Pacman

on:
  schedule:
    - cron: "0 */24 * * *" # roda a cada 24h
  workflow_dispatch:

jobs:
  build:
    name: Jobs to update datas
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      # Gera o Pacman (Action correta agora)
      - uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: bonomo06

      # Envia para a branch output
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
